﻿@model PIASI.CRM.Models.LeadFormViewModel

@{
    ViewBag.Title = Model.Heading;
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit portlet-form bordered">
                    <!-- BEGIN PORTLET TITLE-->
                    <div class="portlet-title">
                        <div class="caption font-green" style="position: relative; top: 2px;">
                            @if (Model.Action == "Create")
                            {
                                <span class="fa fa-plus"></span>
                            }
                            else
                            {
                                <span class="fa fa-edit"></span>
                            }
                            <span class="caption-subject sbold uppercase">@Model.Heading</span>
                        </div>
                    </div>
                    <!-- END PORTLET TITLE -->
                    <!-- BEGIN PORTLET BODY -->
                    <div class="portlet-body" style="padding: 5px 25px 25px 25px;">
                        <ul class="breadcrumb">
                            <li>
                                <a href="/">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                @Html.ActionLink("Leads", "index", "lead")
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                @Model.Heading
                            </li>
                        </ul>
                        <form id="editorForm" action="/lead/@Model.Action.ToLower()" class="form-horizontal" method="post">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.CreatedAt)
                            @Html.HiddenFor(m => m.CreatedBy)

                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button> You have some fields yet to be filled. Please check below.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button> Your form is ready for saving.
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12 form-input-group">
                                            <label class="control-label">
                                                Assigned Users
                                            </label>

                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <select id="leadAssignedUserList" class="form-control" name="leadAssignedUserList" multiple="multiple" style="width: 100%"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br /> <br />
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-input-group">
                                            <label class="control-label">
                                                Name
                                                <span class="required"> * </span>

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 form-input-group">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", maxlength = "100", placeholder = "Last Name" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-input-group">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", maxlength = "100", placeholder = "First Name" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-input-group">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.MiddleName, new { htmlAttributes = new { @class = "form-control", maxlength = "100", placeholder = "Middle Name" } })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <label class="col-md-12">
                                            Phone
                                            <span class="required"> * </span>
                                        </label>
                                        <div id="selectDropDownInputPhone">
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group-btn" style="width: 160px">
                                                        <select id="selectPhone" class="form-control default">
                                                            <option value="Fax">Fax</option>
                                                            <option value="Mobile">Mobile</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-icon right form-input-group">
                                                        <i class="fa"></i>
                                                        <input id="textPhone" type="text" name="text" class="form-control" placeholder="Add phone here" maxlength="11" , minlength="6">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8 input-icon right form-input-group">
                                                <i class="fa"></i>
                                                <select id="leadPhoneList" class="form-control" name="leadPhoneList" multiple="multiple" style="width: 100%">
                                                    @if (Model.LeadPhones != null)
                                                    {
                                                        foreach (var item in Model.LeadPhones)
                                                        {
                                                            <option class="btn btn-danger" id="@item.Type-@item.PhoneNo" value="@item.Id-@item.Type-@item.PhoneNo" selected="selected">@item.Type-@item.PhoneNo </option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" id="div-help-textPhone">
                                        <div class="col-md-12 input-icon right form-input-group">
                                            <div id="help-textPhone" class="help-block"></div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon" style="width: 110px">
                                                    Call Availability
                                                </span>
                                                @Html.EditorFor(m => m.CallAvailability, new { htmlAttributes = new { @class = "form-control", maxlength = "120" } })
                                                <span class="input-group-addon" style="width: 110px">
                                                    @Html.CheckBoxFor(m => m.DoNotCall) Do not call
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                    </div>
                                    <div class="row">
                                        <label class="col-md-12">
                                            Email Address
                                            <span class="required"> * </span>
                                        </label>
                                        <div id="divtextEmail" class="col-md-4 form-input-group">
                                            <div class="input-icon right">
                                                <input id="textEmail" type="text" name="text" class="form-control" placeholder="Add email here" maxlength="100" style="width: 100%">
                                            </div>
                                        </div>
                                        <div class="col-md-8 input-icon right form-input-group">
                                            <i class="fa"></i>
                                            <select id="leadEmailList" class="form-control" name="leadEmailList" multiple="multiple" style="width: 100%">
                                                @if (Model.EmailAddresses != null)
                                                {
                                                    foreach (var item in Model.EmailAddresses)
                                                    {
                                                        <option id="@item.Name" value="@item.LeadEmailAddressId-@item.Name" selected="selected">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" id="div-help-textEmail">
                                        <div class="col-md-12 input-icon right form-input-group">
                                            <div id="help-textEmail" class="help-block"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-input-group">
                                            <label class="control-label">
                                                Title
                                            </label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control", maxlength = "300" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-input-group">
                                            <label class="control-label">
                                                Company
                                            </label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.Company, new { htmlAttributes = new { @class = "form-control", maxlength = "200" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-input-group">
                                            <label class="control-label">
                                                Website
                                            </label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.Website, new { htmlAttributes = new { @class = "form-control", maxlength = "100" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-input-group">
                                            <label class="control-label">
                                                Billing Address
                                            </label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.Street, new { htmlAttributes = new { @class = "form-control", maxlength = "50", placeholder = "Street" } })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2 form-input-group">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.Province, new { htmlAttributes = new { @class = "form-control", maxlength = "50", placeholder = "Province" } })
                                            </div>
                                        </div>
                                        <div class="col-md-2 form-input-group">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-control", maxlength = "50", placeholder = "City" } })
                                            </div>
                                        </div>
                                        <div class="col-md-2 form-input-group">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.PostalCode, new { htmlAttributes = new { @class = "form-control", maxlength = "50", placeholder = "Postal Code" } })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6 form-input-group">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.Country, new { htmlAttributes = new { @class = "form-control", maxlength = "300", placeholder = "Country" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-8 form-input-group">
                                            <label class="control-label">
                                                Lead Status
                                            </label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <select id="LeadStatusId" class="form-control" name="LeadStatusId" style="width: 100%"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-8 form-input-group">
                                            <label class="control-label">
                                                Lead Source
                                            </label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <select id="LeadSourceId" class="form-control" name="LeadSourceId" style="width: 100%"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-8 form-input-group">
                                            <label class="control-label">
                                                Industry
                                            </label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <select id="IndustryId" class="form-control" name="IndustryId" style="width: 100%"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label">
                                                Description
                                            </label>
                                            <div class="input-icon right">
                                                
                                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", maxlength = "250", style = "width: 100%" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                                <div class="row">
                                    <div class="col-md-12">
                                        <button id="createBtn" type="button" class="btn green">Save</button>
                                        <button id="cancelBtn" type="button" class="btn default">Cancel</button>
                                    </div>
                                </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section pagespecific {
    <script src="~/scripts/viewmodel/lead/form.js">
    </script>
    <script>
        // Set isEdit Flag
        module.leadId = @Json.Encode(Model.Id);
        module.isEdit = @Json.Encode(Model.IsEdit);
        module.result = "@Model.Result";
        module.heading = "@Model.Heading";
        module.leadStatusIdSelected = @Json.Encode(Model.LeadStatusId);
        module.leadSourceIdSelected = @Json.Encode(Model.LeadSourceId);
        module.leadIndustrySelected = @Json.Encode(Model.IndustryId);
    </script>
}
