﻿@model PIASI.CRM.Models.LeadFormViewModel

@{
    ViewBag.Title = Model.Heading;
}

<div class="page-content-wrapper">
    <div class="page-content">
    <div class="row">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CreatedBy)
        @Html.HiddenFor(m => m.UpdatedBy)

        <div class="col-md-12">
            <div class="portlet light portlet-fit portlet-form bordered">
                <br/>
                <div class="portlet-body" style="padding: 5px 25px 25px 25px;">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            @Html.ActionLink("Leads", "index", "lead")
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            @Model.Heading
                        </li>
                    </ul>
                    <div class="col-lg-8">
                        <div class="portlet blue-hoki box">
                            <div class="portlet-title">
                                <div class="caption">
                                    Lead Information
                                </div>
                                <div class="actions">
                                    <a href="/lead/edit/@Model.Id" class="btn btn-default btn-sm">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                    <label>  </label>
                                    <a href="/lead" class="btn btn-default btn-sm">
                                        <i class="fa fa-long-arrow-left"></i> Back
                                    </a>
                                    @*<div class="col-md-12"> @Html.ActionLink(" Back", "Index", "lead", null, new { @class = "btn default" }) </div>*@
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row static-info">
                                    <div class="col-md-12 name font-blue-hoki"> Name </div>
                                    <div class="col-md-12 value font-blue-soft"> @Model.Name </div>
                                </div>
                                <div class="row static-info">
                                    <div class="col-md-12 name font-blue-hoki"> Phone(s) </div>
                                    @if (Model.LeadPhones.Any())
                                    {
                                        <div class="col-md-12 value">
                                            @foreach (var item in Model.LeadPhones)
                                            {
                                                <div class="label font-blue-soft bold">@string.Join(", ", @item.Type + '-' + @item.PhoneNo)</div>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-12 value font-blue-soft"> NONE </div>
                                    }
                                </div>
                                <div class="row static-info">
                                    <div class="col-md-12 name font-blue-hoki"> Call Availability </div>
                                    @if (string.IsNullOrEmpty(@Model.CallAvailability))
                                    {
                                        <div class="col-md-12 value font-blue-soft"> NONE </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-12 value font-blue-soft"> @Model.CallAvailability </div>
                                    }
                                </div>
                                <div class="row static-info">
                                    <div class="col-md-12 name font-blue-hoki"> Email Address(s) </div>
                                    @if (Model.EmailAddresses.Any())
                                    {
                                        <div class="col-md-12 value">
                                            @foreach (var item in Model.EmailAddresses)
                                            {
                                                <div class="label font-blue-soft bold"> @string.Join(", ", @item.Name) </div>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-12 value font-blue-soft"> NONE </div>
                                    }
                                </div>
                                <div class="row static-info">
                                    <div class="col-md-6">
                                        <div class="name font-blue-hoki"> Title </div>
                                        @if (string.IsNullOrEmpty(@Model.Title))
                                        {
                                            <div class="value font-blue-soft"> NONE </div>
                                        }
                                        else
                                        {
                                            <div class="value font-blue-soft"> @Model.Title </div>
                                        }
                                    </div>
                                    <div class="col-md-6">
                                        <div class="name font-blue-hoki"> Company </div>
                                        @if (string.IsNullOrEmpty(@Model.Company))
                                        {
                                            <div class="value font-blue-soft"> NONE </div>
                                        }
                                        else
                                        {
                                            <div class="value font-blue-soft"> @Model.Company </div>
                                        }
                                    </div>
                                </div>
                                <div class="row static-info">
                                    <div class="col-md-12 name font-blue-hoki"> Website </div>
                                    @if (string.IsNullOrEmpty(@Model.Website))
                                    {
                                        <div class="col-md-12 value font-blue-soft"> NONE </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-12 value font-blue-soft"> @Model.Website </div>
                                    }
                                </div>
                                <div class="row static-info">
                                    <div class="col-md-12 name font-blue-hoki"> Billing Address </div>
                                    @{ var address = ($"{@Model.Street}  {@Model.Province}  {@Model.City}  {@Model.PostalCode}  {@Model.Country}"); }
                                    @if (string.IsNullOrEmpty(@address.Trim()))
                                    {
                                        <div class="col-md-12 value font-blue-soft"> NONE </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-12 value font-blue-soft"> @address </div>
                                    }
                                </div>
                                <div class="row static-info">
                                    <div class="col-md-4">
                                        <div class="name font-blue-hoki"> Lead Status </div>
                                        <div id="leadStatus" class="value font-blue-soft"> </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="name font-blue-hoki"> Lead Souce </div>
                                        <div id="leadSource" class="value font-blue-soft"> </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="name font-blue-hoki"> Lead Industry </div>
                                        <div id="industry" class="value font-blue-soft"> </div>
                                    </div>
                                </div>
                                <div class="row static-info">
                                    <div class="col-md-12 name font-blue-hoki"> Description </div>
                                    @if (string.IsNullOrEmpty(@Model.Description))
                                    {
                                        <div class="col-md-12 value font-blue-soft"> NONE </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-12 value font-blue-soft"> @Model.Description </div>
                                    }
                                </div>

                                <br/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="portlet blue-hoki box">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Other Information
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row static-info">
                                        <div class="col-md-12 name font-blue-hoki"> Assigned User(s) </div>
                                        <div id="assignedUsers" class="col-md-12 value">

                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-12 name font-blue-hoki"> Created </div>
                                        <div id="createdBy" class="col-md-12 value font-blue-soft"> - </div>
                                        <div id="createdAt" class="col-xs-12 value font-grey-salsa"> </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-12 name font-blue-hoki"> Updated </div>
                                        <div id="updatedBy" class="col-md-12 value font-blue-soft"> - </div>
                                        <div id="updatedAt" class="col-xs-12 value font-grey-salsa"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>

@section pagespecific {
    <script src="~/scripts/viewmodel/lead/view.js">
    </script>
    <script>
        // Set isEdit Flag
        module.leadId = @Json.Encode(Model.Id);
        module.leadStatusId = @Json.Encode(Model.LeadStatusId);
        module.leadSourceId = @Json.Encode(Model.LeadSourceId);
        module.industryId = @Json.Encode(Model.IndustryId);
        module.createdBy = "@Model.CreatedBy";
        module.createdAt = "@Model.CreatedAt";
        module.updatedBy = "@Model.UpdatedBy";
        module.updatedAt = "@Model.UpdatedAt";
    </script>
}
