﻿@model PIASI.CRM.Models.EmployeeFormViewModel

@{
    ViewBag.Title = Model.Heading;
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit portlet-form bordered">
                    <div class="portlet-body" style="padding: 25px;">
                        <!-- BEGIN PAGE BREADCRUMB -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="javascript:" id="home">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="javascript:" id="employees">Employees</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="active">@Model.Heading</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMB -->

                        @using (Html.BeginForm(@Model.Action, "Employee", FormMethod.Post, new { @class = "form-horizontal", id = "employeeForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id);
                            @Html.HiddenFor(m => m.CreatedBy);
                            @Html.HiddenFor(m => m.CreatedAt);

                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button> You have some fields yet to be filled. Please check below.
                                </div>
                                @if (Model.IsEdit)
                                {
                                    @*@Html.HiddenFor(m => m.EmployeeId);*@
                                    <div class="form-group">
                                        <div class="form-input-group col-md-3">
                                            <label class="control-label">
                                                Employee ID
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.EditEmployeeId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>
                                    @*@Html.EditorFor(m => m.EmployeeId, new { htmlAttributes = new { @class = "",  hidden="hidden" } })*@
                                }
                                else
                                {
                                    <div class="form-group">
                                        <div class="form-input-group col-md-3">
                                            <label class="control-label">
                                                Employee ID
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.EditorFor(m => m.EmployeeId, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="form-group row">
                                    <div class="form-input-group col-md-4">
                                        <label class="control-label">
                                            Last Name
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-input-group col-md-4">
                                        <label class="control-label">
                                            First Name
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-input-group col-md-4">
                                        <label class="control-label">
                                            Middle Name
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.EditorFor(m => m.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="form-input-group col-md-4">
                                        <label class="control-label">
                                            Email
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", name = "email" } })
                                        </div>
                                    </div>
                                    <div class="form-input-group col-md-4">
                                        <label class="control-label">
                                            Contact No.
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.EditorFor(m => m.ContactNumber, new { htmlAttributes = new { @class = "form-control", maxlength = "11", minlength = "6" } })
                                            @*<span class="help-block">e.g: 09051234567</span>*@
                                        </div>
                                    </div>
                                    <div class="form-input-group col-md-4">
                                        <label class="control-label">
                                            Birthdate
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.EditorFor(m => m.Birthdate, new { htmlAttributes = new { @class = "form-control date-picker" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-input-group col-md-4">
                                        <label class="control-label">
                                            Position
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.DropDownListFor(m => m.Position, new SelectList(Model.Positions, "PositionId", "PositionName"), "", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-input-group col-md-4">
                                        <label class="control-label">
                                            Department
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.DropDownListFor(m => m.Department, new SelectList(Model.Departments, "DepartmentId", "DepartmentName"), "", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button> Your form is ready for saving.
                                </div>
                                <div class="row padding-tb-10">
                                    <div class="col-md-4">
                                        <button type="button" id="@Model.Action" class="btn green">Save</button>
                                        <button id="cancelBtn" type="button" class="btn default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section pagespecific {
    <script src="~/scripts/viewmodel/employee/employeeform.js"></script>
    <script>
        // Set isEdit Flag
        module.employeeid = "@Model.EmployeeId";
        module.isEdit = @Json.Encode(Model.IsEdit);
        module.result = "@Model.Result";
    </script>
}



