﻿
@{
    ViewBag.Title = "Index";
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
       
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light portlet-fit portlet-form bordered">
                    <div class="portlet-body" style="padding: 25px;">
                        <!-- BEGIN PAGE BREADCRUMB -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="active">Employees</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMB -->
                        @Html.ActionLink("Create Employee", "Add", "Employee", null, new { @class = "btn green btn-outline" })
                        <table class="table table-scrollable table-striped table-bordered table-hover table-header-fixed text-center" width="100%" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Birthdate</th>
                                    <th>Contact No.</th>
                                    <th>Position</th>
                                    <th>Deparment</th>
                                    <th>Action</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->


@section pagespecific {
    <script src="~/Scripts/viewmodel/employee/table.js"></script>
}