﻿@model PIASI.CRM.Models.LeadStatusFormViewModel

@{
    ViewBag.Title = Model.Heading;
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit portlet-form bordered">
                    <!-- BEGIN PORTLET TITLE-->
                    <div class="portlet-title">
                        <div class="caption font-green" style="position: relative; top: 2px;">
                            @if (Model.Action == "Create")
                            {
                                <span class="fa fa-plus"></span>
                            }
                            else
                            {
                                <span class="fa fa-edit"></span>
                            }
                            <span class="caption-subject sbold uppercase">@Model.Heading</span>
                        </div>
                    </div>
                    <!-- END PORTLET TITLE -->
                    <!-- BEGIN PORTLET BODY -->  
                    <div class="portlet-body" style="padding: 5px 25px 25px 25px;">
                        <ul class="breadcrumb">
                            <li>
                                <a href="/">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                @Html.ActionLink("Lead Statuses", "index", "leadstatus")
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                @Model.Heading
                            </li>
                        </ul>
                        <form id="editorForm" action="/leadstatus/@Model.Action.ToLower()" class="form-horizontal" method="post">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.CreatedAt)
                            @Html.HiddenFor(m => m.CreatedBy)
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button> You have some fields yet to be filled. Please check below.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button> Your form is ready for saving.
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 form-input-group">
                                        <label class="control-label">
                                            Code
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.EditorFor(m => m.Code, new {htmlAttributes = new {@class = "form-control", maxlength = "50"}})
                                        </div>
                                    </div>
                                    <div class="col-md-9 form-input-group">
                                        <label class="control-label">
                                            Name
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.EditorFor(m => m.Name, new {htmlAttributes = new {@class = "form-control", maxlength = "50"}})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button id="saveBtn" type="button" class="btn green">Save</button>
                                        <button id="cancelBtn" type="button" class="btn default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section pagespecific {
    <script src="~/scripts/viewmodel/leadstatus/form.js"></script>
    <script>
        // Set isEdit Flag
        module.leadStatusId = @Json.Encode(Model.Id);
        module.isEdit = @Json.Encode(Model.IsEdit);
        module.result = "@Model.Result";
    </script>
}