/* here you can put your own css to customize and override the theme */

/* Edit by Francis*/

.page-content-wrapper .page-content {
    padding: 0px 0 0 20px;
}

/* Edit Luel */
.page-content {
    min-height: 200px;
}

/* Edit by Paul */
/* LOGIN STYLES */
.validation-summary-errors {
    margin-bottom: 15px;
    color: red;
}
.validation-summary-errors > ul {
    padding: 0;
}
.validation-summary-errors > ul li {
    list-style: none;
}
.input-group {
    display: flex;
}
.input-group > .input-group-addon {
    width: 40px;
}
.input-group > .input-icon {
    width: 100%;
}
.form-control {
    height: 30px;
    font-weight: 300;
}
.dataTables_wrapper {
    font-family: Segoe UI;
}
.btn-actions {
    padding: 3px 13px;
}
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-sm {
    padding: 3px 13px;
}
table.dataTable {
    margin-bottom: 15px!important;
}