﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=" utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>PIASI CRM | @ViewBag.Title</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="TDRIS-Training" name="description" />
    <meta content="" name="author" />

    <!-- Basic Styles -->
    @Styles.Render("~/content/css")

    <style>

    .dataTables_wrapper .dataTables_processing {
        left: 50%;
        width: 100%;
        height: 110px;
        margin-left: -50%;
        font-size: 12px;
        background: url('@Url.Content("~/content/img/updateprogress.gif")') no-repeat center top;
        z-index: 1000;
    }

    </style>

    @RenderSection("Styles", false)

    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="page-container-bg-solid page-sidebar-closed-hide-logo page-header-fixed page-footer-fixed">
    <div class="page-wrapper">
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            @RenderBody()
        </div>
        <!-- END CONTAINER -->
    </div>

    @{ Html.RenderPartial("_Scripts"); }
    @RenderSection("pagespecific", false)
</body>
</html>