﻿
@{
    ViewBag.Title = "Index";
}

@section Styles{
    <link href="~/Content/layout/css/custom.css" rel="stylesheet" type="text/css" />
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 250px;">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit portlet-form bordered">
                    <!-- BEGIN PORTLET TITLE-->
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-industry font-green"></i>
                            <span class="caption-subject font-green sbold uppercase" style="position: relative; top: 2px;">Manage Industries</span>
                        </div>
                    </div>
                    <!-- END PORTLET TITLE -->
                    <!-- BEGIN PORTLET BODY -->
                    <div class="portlet-body" style="padding: 5px 25px 25px 25px;">
                        <!-- BEGIN PAGE BREADCRUMB -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="active">Industries</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMB -->
                        <div class="col-md-6" style="padding: 0; margin-bottom: 15px;">
                            <div class="btn-group">
                                <a href="../industry/create" class="btn sbold green" style="margin-top: 10px;">Create Industry <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="portlet-body" style="margin-top: 15px;">
                            <table id="dataTable" class="table table-striped table-bordered table-hover table-header-fixed" width="100%">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Industry</th>
                                    <th>Action</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        @* <div class="col-md-4"> *@
                        @*     <input type="text" class="js-filter-value"/> *@
                        @*     <input type="button" class="btn btn-default js-filter" value="Filter"/> *@
                        @* </div> *@
                    </div>
                    <!-- END PORTLET BODY -->
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>

<img src="~/Content/img/Eclipse-1s-200px.gif" id="loading" height="100px" width="100px" style="position: fixed; top: 50%; left: 50%; margin: -50px 0 0 -50px; display: none;" />

@section pagespecific {
    <script src="~/scripts/viewmodel/industry/industry-view.js"></script>
}