﻿@model PIASI.CRM.Models.MyAccountViewModel
@{
    ViewBag.Title = "My Account";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 250px;">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit portlet-form bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-user font-green"></i>
                            <span class="caption-subject font-green sbold uppercase" style="position: relative; top: 2px;">My Account</span>
                        </div>
                    </div>
                    <div class="portlet-body" style="padding: 0 25px 25px 25px;">
                        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "accountForm" }))
                        {
                            <div style="padding: 0 30px;">
                                <div class="portlet-body js-change-passForm" style="width: 60%;">
                                    @{
                                        if (TempData["ChangePassResponse"] != null)
                                        {
                                            <div class="alert alert-success alert-dismissable" role="alert" style="margin-bottom: 30px;">
                                                @TempData["ChangePassResponse"]
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        }
                                        else { }
                                    }

                                    @Html.ValidationSummary(false)
                                    <div class="hidden">
                                        @Html.TextBoxFor(m => m.UserAccountId)
                                    </div>
                                    <div class="hidden">
                                        @Html.TextBoxFor(m => m.UserEmail)
                                    </div>
                                    <div class="hidden">
                                        @Html.TextBoxFor(m => m.Username)
                                    </div>
                                    <div class="hidden">
                                        @Html.TextBoxFor(m => m.EmployeeId)
                                    </div>
                                    <div class="hidden">
                                        @Html.TextBoxFor(m => m.CreatedAt)
                                    </div>
                                    <div class="hidden">
                                        @Html.TextBoxFor(m => m.CreatedBy)
                                    </div>
                                    <div class="input-group" style="display: flex;">
                                        @Html.LabelFor(m => m.CurrentPassword, new { style = "flex: 2.1; postion: relative; top: 4px; " })
                                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", @name = "input_group", placeholder = "Enter Password", style = "height: 25px; font-size: 13px; flex: 5;", id = "txtCurrentPass", required = true })
                                        <button type="button" style="padding: 4px 10px; margin-left: 10px; display: block; " class="btn green btn-sm" id="isPasswordValid">Validate</button>
                                    </div>

                                    <div id="account-validated" style="display: none;">
                                        <div class="input-group" style="margin-top: 15px; display: flex;">
                                            @Html.LabelFor(m => m.NewPassword, new { style = "flex: 2.1; postion: relative; top: 4px; " })
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @name = "input_group", id = "txtNewPassword", placeholder = "New Password", style = "height: 25px; font-size: 13px; flex: 7;", required = true })
                                            @Html.ValidationMessageFor(m => m.NewPassword)
                                        </div>

                                        <div class="input-group" style="margin-top: 15px; display: flex;">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { style = "flex: 2.1; postion: relative; top: 4px; " })
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @name = "input_group", id = "txtConfirmPassword", placeholder = "Confirm Password", style = "height: 25px; font-size: 13px; flex: 7;", required = true })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                        </div>

                                        <div class="input-group col-md-5" style="margin-top: 15px;">
                                            <input type="submit" class="btn green" id="btnSubmit" value="Submit" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>

@section pagespecific {
    <script src="~/Scripts/viewmodel/account/account.js"></script>
}