﻿ <!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="@Html.RouteIf("home", "active")">
                <a href="@Url.Action("index", "home")" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="@Html.RouteIf("home", "selected")"></span>
                </a>
            </li>
            <li class="@Html.RouteIf("lead", "active") nav-item">
                <a href="@Url.Action("index", "lead")" class="nav-link">
                    <i class="fa fa-male"></i>
                    <span class="title">Lead </span>
                    <span class="@Html.RouteIf("lead", "selected")"></span>
                </a>
            </li>
            <li class="nav-item" id='sample'>
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-list"></i>
                    <span class="title">Maintenance</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="@Html.RouteIf("industry", "active") nav-item">
                        <a href="@Url.Action("index", "industry")" class="nav-link">
                            <i class="fa fa-industry"></i>
                            <span class="title">Industry </span>
                            <span class="@Html.RouteIf("table", "selected")"></span>
                        </a>
                    </li>
                    <li class="@Html.RouteIf("leadstatus", "active") nav-item">
                        <a href="@Url.Action("index", "leadstatus")" class="nav-link">
                            <i class="fa fa-bar-chart"></i>
                            <span class="title">Lead Status </span>
                            <span class="@Html.RouteIf("form", "selected")"></span>
                        </a>
                    </li>
                    <li class="@Html.RouteIf("leadsource", "active") nav-item">
                        <a href="@Url.Action("index", "leadsource")" class="nav-link">
                            <i class="fa fa-file-o"></i>
                            <span class="title">Lead Source </span>
                            <span class="@Html.RouteIf("bootstrapsweetalert", "selected")"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("User", "active")">
                <a href="@Url.Action("Index", "User")" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Users</span>
                    <span class="@Html.RouteIf("User", "selected")"></span>
                </a>
            </li>
            <li class="@Html.RouteIf("Employee", "active")">
                <a href="@Url.Action("index", "Employee")" class="nav-link nav-toggle">
                    <i class="icon-users"></i>
                    <span class="title">Employees</span>
                    <span class="@Html.RouteIf("Employee", "selected")"></span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->