﻿<script>
    var baseUrl = '@Url.Action("Index", "Home")';
</script>

<script src="~/Scripts/lib/jquery.min.js"></script>
<script src="~/Scripts/lib/jquery.ui.min.js"></script>

<!-- jquery / bootstrap -->
@Scripts.Render("~/scripts/libs")

<!-- plugins -->
@Scripts.Render("~/scripts/plugins")

<!-- common -->
@Scripts.Render("~/scripts/common")

<!-- layout -->
@Scripts.Render("~/scripts/layouts")