﻿@{
    ViewBag.Title = "Create";
}

@section Styles{ 
    <link href="~/Content/layout/css/custom.css" rel="stylesheet" type="text/css" />
}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit portlet-form bordered">
                    <!-- BEGIN PORTLET TITLE-->
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-user font-green"></i>
                            <span class="caption-subject font-green sbold uppercase" style="position: relative; top: 2px;">Manage Users</span>
                        </div>
                    </div>
                    <!-- END PORTLET TITLE -->
                    <div class="portlet-body" style="padding: 5px 25px 25px 25px;">
                        <!-- BEGIN PAGE BREADCRUMB -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="./Index">User</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="active">Create Users</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMB -->
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover table-header-fixed dataTable no-footer dtr-inline text-center" width="100%" id="dataTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Employee No.</th>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Department</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- START OF BUTTONS CONTAINER -->
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-md-12 text-right">
                                <button class="btn green" id="js-invite-user" type="submit">Invite User</button>
                                <a href="./Index" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                        <!-- END OF BUTTONS CONTAINER -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>

<img src="~/Content/img/Eclipse-1s-200px.gif" id="loading" height="100px" width="100px" style="position: fixed; top: 50%; left: 50%; margin: -50px 0 0 -50px; display: none;"/>

@section pagespecific {
    <script src="~/scripts/viewmodel/user/create.js"></script>
}

