﻿@using PIASI.CRM.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/CustomLayout/_UserActionLayout.cshtml";
}

@section Styles{
    <style>
        body { background: #fff; }
        .page-header-fixed .page-container { margin-top: 110px; }
        .portlet { box-shadow: 0 2px 3px 2px rgba(0,0,0,.15); }
    </style>
}

    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="padding: 0;"><img src="~/Content/img/gourmetfarms.png" width="200" height="50" style="position: relative; left: -15px; top: -3px;"/></div>
    </div>
    <div class="row">
        <div class="portlet light col-md-4 col-md-offset-4 clearfix">

            <img src="~/Content/img/gourmet-leaves.png" width="70" height="50" style="position: absolute; right: -28px; top: -20px; border-radius: 50%; box-shadow: 1px 1px 5px #999; background: #fff; padding: 0; " />

            <h2 style="display: block; margin-bottom: 25px; border-bottom: 1px solid #cecece; padding-bottom: 20px;
        color: #545454; padding-bottom: 10px; font-size: 1.4em;">
                LOGIN
            </h2>

            @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "userForm", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <div class="input-icon right">
                        <i class="fa"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @name = "input_group", placeholder = "Email" })
                    </div>
                </div>

                <div class="input-group" style="margin: 10px 0 20px;">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <div class="input-icon right">
                        <i class="fa"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @name = "input_group", placeholder = "Password" })
                    </div>
                </div>
                @Html.ValidationSummary(true)
                <input type="submit" class="btn green" value="Submit" />
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <span style="position: relative; top: -13px; color: #9f9f9f; font-family: Calibri Light, sans-serif;">Gourmet Farms Inc | All rights reserved @DateTime.Now.Year</span>
        </div>
    </div>
    

@section pagespecific{
    <script src="~/Scripts/viewmodel/user/userform.js"></script>
}

