﻿@model PIASI.CRM.Models.UserAccountViewModel

@{
    var action = Model.ActionName == "Register" ? "Register" : "Change Password";
    var placeHolder = Model.ActionName == "Register" ? "Password" : "New Password";
    var title = Model.ActionName == "Register" ? "Register CRM Account" : "Reset CRM Account Password";
}

@{
    ViewBag.Title = @action;
    Layout = "~/Views/CustomLayout/_UserActionLayout.cshtml";
}

<div class="portlet light col-md-4 col-md-offset-4" style="margin-top: 60px;">
    <h2 style="display: block; margin-bottom: 25px; border-bottom: 1px solid #cecece; padding-bottom: 20px;">@title</h2>

    @using (Html.BeginForm("" + @Model.ActionName, "User", FormMethod.Post, new { id = "userForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="hidden">
            @Html.TextBoxFor(m => m.Id)
        </div>

        <div class="hidden">
            @Html.TextBoxFor(m => m.UniqueId)
        </div>

        <div class="hidden">
            @Html.TextBoxFor(m => m.EmployeeId)
        </div>
        <div class="hidden">
            @Html.TextBoxFor(m => m.CreatedAt)
        </div>
        <div class="hidden">
            @Html.TextBoxFor(m => m.CreatedBy)
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @value = Model.Email, @name = "input_group", @readonly = true })
        </div>

        <div class="input-group" style="margin: 10px 0 30px;">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <div class="input-icon right">
                <i class="fa"></i>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @name = "input_group", placeholder = @placeHolder })
            </div>
        </div>

        @Html.ValidationSummary(false)

        <button type="button" id="userFormBtn" class="btn green">@action</button>
    }
</div>

@section pagespecific{
    <script src="~/Scripts/viewmodel/user/userform.js"></script>
}

